[submodule "C/C_matrix"]
	path = C/C_matrix
	url = https://github.com/AmirZhaboev/C_matrix.git
[submodule "C/C_string"]
	path = C/C_string
	url = https://github.com/AmirZhaboev/C_string.git
[submodule "C_SimpleBashUtils"]
	path = C_SimpleBashUtils
	url = https://github.com/AmirZhaboev/C_SimpleBashUtils.git
[submodule "C/C_SimpleBashUtils"]
	path = C/C_SimpleBashUtils
	url = https://github.com/AmirZhaboev/C_SimpleBashUtils.git
[submodule "CPP_matrix"]
	path = CPP_matrix
	url = https://github.com/AmirZhaboev/CPP_matrix.git
[submodule "CPP/CPP_matrix"]
	path = CPP/CPP_matrix
	url = https://github.com/AmirZhaboev/CPP_matrix.git
[submodule "CPP/CPP_containers"]
	path = CPP/CPP_containers
	url = https://github.com/AmirZhaboev/CPP_containers.git
[submodule "DevOps/DevOps_Linux"]
	path = DevOps/DevOps_Linux
	url = https://github.com/AmirZhaboev/DevOps_Linux.git
[submodule "DevOps_LinuxNetwork"]
	path = DevOps_LinuxNetwork
	url = https://github.com/AmirZhaboev/DevOps_LinuxNetwork.git
[submodule "DevOps/DevOps_LinuxNetwork"]
	path = DevOps/DevOps_LinuxNetwork
	url = https://github.com/AmirZhaboev/DevOps_LinuxNetwork.git
[submodule "DevOps/DevOps_LinuxMonitoring"]
	path = DevOps/DevOps_LinuxMonitoring
	url = https://github.com/AmirZhaboev/DevOps_LinuxMonitoring.git
[submodule "DevOps/DevOps_Docker"]
	path = DevOps/DevOps_Docker
	url = https://github.com/AmirZhaboev/DevOps_Docker.git
